<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click for Water!</title>
</head>
<body>
    <h1>Click for a Water Bottle</h1>
    <h3>Water is life</h3>
    <p>One of UNICEF's Sustainable Development Goals (SDG) is about
        health and well-being.
    </p>
    <blockquote>
        Goal 3 aims to ensure healthy lives and promote well-being 
        for all, at all ages. Health and well-being are important 
        at every stage of one’s life, starting from the beginning. 
        This goal addresses all major health priorities: 
        reproductive, maternal, newborn, child and adolescent health;
        communicable and non-communicable diseases; universal health 
        coverage; and access for all to safe, effective, quality and 
        affordable medicines and vaccines.
    </blockquote>
    <p>-UNICEF</p>
    <p>Why not let it be simple to donate water to children in need as a click?</p>
    <a href="success.html">Click here to donate a bottle of water!</a>
</body>
</html>